.materiasContainer{
    display: flex;
    flex-direction: row;
    margin: 25px 0px;
    width: max-content;

    .nivelBlock{
        margin: 0px 60px 0px 15px;

        .materia{
            border: solid black 1px;
            background-color: aquamarine;
            margin-bottom: 15px;
            cursor: pointer;
            padding: 10px;
            height: 100px;
            overflow: hidden;
            box-shadow: 5px 3px 0px 0px rgb(0, 0, 0);
            h2{
                font-size: 1.5em;
            }
            h3{
                font-weight: 700;
                text-decoration: underline;
            }
            transition: 0.5s ease;
        }
    }
}

.no-cursada{
    background-color: grey !important;
}

.aprobada{
    background-color: greenyellow !important;
}

.unavailable{
    background-color: red !important;
}

.expanded{
    height: 400px !important;
}

.scale{
    transform: scale(1.05);
}

.transparent{
    opacity: 40%;
}

.hidden{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

//#region Buttons
.disabledCheck{
    background-color: grey !important;
    filter: blur(50%);
}

.disabledCheck:active{
    box-shadow: 5px 3px 0px 0px rgb(0, 0, 0) !important;
}

.buttonCustom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: solid black 1px;
    color: white;
    padding: 15px;
    transition: 0.1s;
    box-shadow: 5px 3px 0px 0px rgb(0, 0, 0);
}

.buttonCurs{
    @extend .buttonCustom;
    background-color: #57b193;
}

.buttonAprob{
    @extend .buttonCustom;
    background-color: #76b11f;
}

.buttonCorrel{
    @extend .buttonCustom;
    background-color: rgb(218, 141, 0);
}

.buttonCurs:hover{
    background-color: #63caa8;
}

.buttonAprob:hover{
    background-color: #8ace25;
}

.buttonCorrel:hover{
    background-color: orange;
}

.buttonCurs:active{
    box-shadow: none;
}

//#endregion