.aws-btn {
  --button-default-height: 55px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 6px;
  --button-hover-pressure: 1;
  --transform-speed: 0.185s;
  --button-primary-color: #3a3a3a;
  --button-primary-color-dark: #141414;
  --button-primary-color-light: #fbfbfb;
  --button-primary-color-hover: #2d2d2d;
  --button-primary-color-active: #212121;
  --button-primary-border: 2px solid #3a3a3a;
  --button-secondary-color: #ccfff9 !important;
  --button-secondary-color-dark: #3a3a3a !important;
  --button-secondary-color-light: #3a3a3a !important;
  --button-secondary-color-hover: #b5e3de !important;
  --button-secondary-color-active: #8ac1bb !important;
  --button-secondary-border: 2px solid #3a3a3a !important;
  --button-anchor-color: #8bfea2;
  --button-anchor-color-dark: #212121;
  --button-anchor-color-light: #97735d;
  --button-anchor-color-hover: #ffe727;
  --button-anchor-color-active: #ffe727;
  --button-anchor-border: 2px solid #876753;
  --button-danger-color: #8bfea2 !important;
  --button-danger-color-dark: #212121 !important;
  --button-danger-color-light: #212121 !important;
  --button-danger-color-hover: #46dd64 !important;
  --button-danger-color-active: #549c62 !important;
  --button-danger-border: 2px solid #000000 !important;
}

img {
  width: 300px;
}

body {
  background-image: url("/public/img/bg.png");
}

body::-webkit-scrollbar {
  height: 1.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(43, 43, 43);
}

.materiasContainer {
  display: flex;
  flex-direction: row;
  margin: 25px 0px;
  width: -moz-max-content;
  width: max-content;
}
.materiasContainer h2 {
  font-weight: 700;
  text-decoration: underline;
}
.materiasContainer .nivelBlock {
  margin: 0px 60px 0px 15px;
}
.materiasContainer .nivelBlock .materia {
  border: solid black 1px;
  background-color: aquamarine;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 10px;
  height: 100px;
  overflow: hidden;
  box-shadow: 5px 3px 0px 0px rgb(0, 0, 0);
  transition: height 0.5s;
}
.materiasContainer .nivelBlock .materia h2 {
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none;
}
.materiasContainer .nivelBlock .materia h3 {
  font-weight: 700;
  text-decoration: underline;
}
.materiasContainer .nivelBlock .materia .correlInfo {
  margin-top: 10px;
}

.no-cursada {
  background-color: grey !important;
}

.aprobada {
  background-color: greenyellow !important;
}

.unavailable {
  background-color: red !important;
}

.expanded {
  height: 470px !important;
}

.scale {
  transform: scale(1.05);
}

.transparent {
  opacity: 40%;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.disabledCheck {
  background-color: grey !important;
  filter: blur(50%);
}

.disabledCheck:active {
  box-shadow: 5px 3px 0px 0px rgb(0, 0, 0) !important;
}

.buttonCustom, .buttonCorrel, .buttonAprob, .buttonCurs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: solid black 1px;
  color: white;
  padding: 15px;
  transition: 0.2s;
  box-shadow: 5px 3px 0px 0px rgb(0, 0, 0);
}

.buttonCurs {
  background-color: #57b193;
}

.buttonAprob {
  background-color: #76b11f;
}

.buttonCorrel {
  background-color: rgb(218, 141, 0);
}

.buttonCurs:hover {
  background-color: #63caa8;
}

.buttonAprob:hover {
  background-color: #8ace25;
}

.buttonCorrel:hover {
  background-color: orange;
}

.buttonCustom:active, .buttonCurs:active, .buttonAprob:active, .buttonCorrel:active {
  box-shadow: none;
}

@media (max-width: 425px) {
  .materiasContainer {
    flex-direction: column;
    width: 100vw;
    margin: 0px;
  }
  .materiasContainer .nivelBlock {
    padding: 25px;
    margin: 0px;
  }
  .materiasContainer .nivelBlock .materia {
    width: 100%;
    height: 120px;
  }
  .materiasContainer .nivelBlock .materia h2 {
    font-size: 1.25em;
  }
  .materiasContainer .nivelBlock .materia label {
    font-size: 0.8em;
    font-weight: 600;
  }
  .materiasContainer .nivelBlock .materia .correlInfo {
    margin-top: 40px;
  }
  .materiasContainer .nivelBlock .materia .materiaBody {
    justify-content: center;
  }
  .buttonCustom, .buttonCurs, .buttonAprob, .buttonCorrel {
    width: 22vw;
  }
}/*# sourceMappingURL=main.css.map */